/*--------------------------------------------------------------
# Assets
--------------------------------------------------------------*/
@font-face {
    font-family: 'FontAwesome';
    src: url('../libraries/fontawesome/webfonts/fa-solid-900.woff') format('woff');
}
$general: #fff;
$black: #222222;
$primary: #FDEE30;
$bluedark: #001730;
$fontwhite: #ffffff;
$bluedeath: #425664;
$background: #ffffff;
$breadcrumbs: #f0f0f0;
$background2: #fafafa;
$primaryHover: #fff784;
$fontsecondary: #f1f1f1;

/*--------------------------------------------------------------
# For universal
--------------------------------------------------------------*/
* {
    user-select: none;
}

body {
    background-color: $background;
}

p,ul,li {
    color: #7a7a7a;
}

.btn-general {
    background-color: $primary;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 500;
    &:hover {
        background-color: $primaryHover;
    }
}

.back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 0;
    right: 2%;
    bottom: 3%;
    border-radius: 50%;
    background: $primary;
    color: $bluedark;
    transition: display 0.5s ease-in-out;
    
    &:hover {
        color: $bluedeath;
        background: $primaryHover;
        transition: 0.3s ease-in-out;
    }
    .backtop-icon {
        font-size: 18px;
    }
}

.chat-with-us-desktop {
    transform: rotate(90deg);
    position: fixed;
    border: 0;
    border-radius: 0;
    right: -115px !important;
    color: white;
    font-weight: 500;
    z-index: 9999;
    bottom: 45%;
    background-color: #53bb3f;
    transition: display 0.5s ease-in-out;
    &:hover {
        color: $bluedeath;
        background: greenyellow;
        transition: 0.3s ease-in-out;
    }
    .backtop-icon {
        font-size: 24px;
    }
}

#notfound {
    width: 100%;
    height: 100%;
    user-select: none;
    position: fixed;
    background-color: #4f7aa1;
    display: flex;
    padding:0;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    img {
        max-width: 70%;
        box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.24);
    }
    .btn-general {
        margin-top: -18%;
        font-weight: bold;
    }
}

.mini-contact {
    background-color: $bluedeath;
    .phonemail {
        .nav-link {
            padding-right: 0px;
        }
    }
    .nav-link {
        color: $fontsecondary;
        font-size: 14px;
        padding-right: 26px;
        &:hover {
            color:$primary;
        }
        .icon {
            color: $general;
            &:hover {
                color:$primary;
            }
        }
    }
}

.navbar {
    background-color: $general;
    box-shadow: 0px 2px 5px rgba(56, 56, 56, 0.048);
    .navbar-toggler {
        background-color: $bluedeath;
        border-radius: 0;
        color: white !important;
        .icon-collapse-navbar {
            color: white;
        }
    }
    .navbar-brand {
        padding: 0;
        img {
            max-width: 60px;
        }
    }
    .navbar-nav {
        .nav-item {
            &.active {
                font-weight: bold;
            }
            margin-left: 14px;
            font-size: 14px;
            a {
                color: $bluedeath;
                &:hover {
                    color: $black;
                }
            }
        }
    }
    .dropdown {
        &:hover>.dropdown-menu {
            display: block;
        }
        .dropdown-menu {
            padding-top: 16px;
            padding-bottom: 0;
            border: none;
            border-radius: 0;
            border-bottom: 4px solid $bluedeath;
            a {
                font-size: 14px;
                &:focus {
                    background-color: $bluedeath;
                    color: $fontwhite;
                }
                &.active {
                    background-color: $bluedeath;
                    color: $fontwhite;
                }
            }
        }
    }
}

#breadcrumbs {
    background-color: $breadcrumbs;
    h2 {
        font-size: 23px;
        font-weight: 500;
        color: $bluedeath;
    }
    .breadcrumb {
        justify-content: flex-end;
        background: transparent !important;
        margin-top: 10px;
        .breadcrumb-item {
            font-weight: 100;
            a {
                color: $bluedeath;
                font-weight: 500;
                text-decoration: none;
                &:hover {
                    color: $bluedark;
                }
            }
        }
    }
}

#hero {
    width: 100%;
    height: 70vh;
    background-color: rgba(14, 11, 10, 0.8);
    overflow: hidden;
    position: relative;
    padding: 0;
    .carousel {
        .carousel-item {
            width: 100%;
            height: 70vh;
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
            background-repeat: no-repeat;
        }

        .carousel-caption {
            top: 20%;

            .carousel-content {
                background: rgba(28, 23, 21, 0.5);
                padding: 20px;
                color: #fff;
                border-left: 5px solid $primary;
                border-right: 5px solid $primary;
                margin-bottom: 60px;
                h1 {
                    color: $fontwhite;
                    margin-bottom: 20px;
                    font-size: 65px;
                    font-weight: 200;
                }
                p {
                    font-size: 16px;
                    padding-left: 50px;
                    padding-right: 50px;
                    color: white;
                }
                .btn-started {
                    background-color: $primary;
                    border-radius: 0;
                    padding-left: 25px;
                    padding-right: 25px;
                    font-weight: 500;
                    
                    &:hover {
                        background-color: $primaryHover;
                    }
                }
            }
        }

        .btn-carousel-control {
            border-radius: 0;
            padding: 10px;
            color: $bluedeath;
            background-color: $background;
        }
    }
}

#introduction {
    min-height: 300px;
    background-color: $background2;
    .intro-img {
        text-align: center;
        img {
            margin-top: 10%;
            max-width: 80%;
        }
        .media {
            margin-top: 50px;
            margin-left: 0px;
            margin-right: 0px;
            .video {
                width: 100%;
                border-radius: 0px;
                box-shadow: 4px 4px 5px rgb(204, 204, 204);
            }
        }
    }
    .intro-txt {
        h2 {
            margin-top: 40px;
            font-size: 35px;
            font-weight: 700;
            padding-bottom: 6px;
            color: $bluedark;
            &::after {
                content: '';
                display: block;
                border-bottom: 2px solid $bluedeath;
                width: 15%;
                margin-top: 8px;
            }
        }
        .btn-general {
            margin-top: 15px;
        }
    }
}

#clients {
    h2,p {
        color: white;
    }
    h2 {
        margin-bottom: 6px;
        font-size: 35px;
        font-weight: 700;
        padding-bottom: 6px;
    }
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $bluedeath;
    
    .box-clients {
        .img-item {
            background-color: rgb(243, 243, 243);
            padding: 10px;
            text-align: right;
            min-height: 110px;
            border: 4px solid white;
            &:hover {
                background-color: white;
            }
            .client {
                margin-top: 10px;
                margin-left: 10px;
                max-width: 120px;
            }
        }
    }
}

#about {
    background-color: $background2;
    .img-head {
        min-height: 360px;
        max-height: 200px;
        overflow: hidden;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    h2 {
        margin-top: 40px;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 6px;
        color: $bluedark;
        &::after {
            content: '';
            display: block;
            border-bottom: 2px solid $bluedeath;
            width: 9%;;
            margin: auto;
            margin-top: 10px;
        }
    }
    .history {
        margin-top: -100px;
        .intro-txt {
            background-color: white;
            
            .detail {
                text-align: justify;
                padding-left: 20px;
                padding-right: 20px;
                margin-top: 30px;
                margin-bottom: 40px;
            }
            .card {
                border-radius: 0;
                border: 0;
                box-shadow: 2px 2px 5px #f1f1f1;
                background-color: $background2;
                h5 {
                    font-weight: 500;
                    margin-top: 0;
                    font-size: 18px;
                    margin-bottom: 5px;
                }
            }
            .icon-contact {
                margin-right: 20px;
                margin-top: 10px;
                span {
                    padding: 15px;
                    padding-left: 19px;
                    padding-right: 19px;
                    background-color: $primaryHover;
                    color: $bluedark;
                    font-size: 20px;
                    &:hover {
                        background-color: $primary;
                    }
                }
            }
        }
    }
    .team {
        min-height: 100px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: $background;
        .card {
            border-radius: 0;
            border: 0;
            min-height: 290px;
            background-repeat: no-repeat;
            margin-top: 10px;
            background-position: center 23%;
            background-size: cover;
            overflow: hidden;
            box-shadow: 2px 4px 5px #eeeeee;
            &:hover {
                .card-body {
                    visibility: visible;
                    transition: all ease-in-out .2s;
                    bottom: 26%;
                }
            }
            .card-body {
                background-color: $bluedark;
                position: absolute;
                font-size: 14px;
                left: 0;
                height: 10px;
                bottom: 10%;
                width: 100%;
                z-index: 2;
                padding-bottom: 36px;
                padding-top: 12px;
                visibility: hidden;
                border-radius: 0;
                .btn-socmed {
                    color: white;
                    margin: 12px;
                    font-size: 17px;
                    &:hover {
                        color: $primary;
                    }
                }
            }
            .card-footer {
                background-color: white;
                position: absolute;
                bottom: 0;
                text-transform: capitalize;
                left: 0;
                bottom: 0;
                width: 100%;
                z-index: 2;
                display: block;
                border-radius: 0;
                h6 {
                    color: $bluedark;
                    font-size: 20px;
                    margin-bottom: 5px;
                }
                span {
                    font-size: 14px;
                    color: rgb(187, 187, 187);
                    font-weight: 500;
                }
            }
        }
    }
    .clients {
        min-height: 200px;
        background-color: $background;
        padding-bottom: 50px;
        p {
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
        }
        .card {
            border-radius: 0;
            border: 0;
            min-height: 123px;
            box-shadow: 2px 2px 5px #e9e9e9;
            background-color: $background2;
            text-align: center;
            font-weight: 400;
            &:hover {
                background-color: #f0f0f0;
                color: $bluedark;
            }
            img {
                width:40%;
                margin-bottom: 10px;
                margin-top: 7px;
            }
            span {
                font-weight: 400;
                color: #808080;
            }
        }
    }
}

#services {
    h2,h3 {
        margin-bottom: 20px;
        font-size: 35px;
        text-align: center;
        font-weight: 700;
        padding-bottom: 6px;
        text-transform: uppercase;
        color: $bluedark;
        &::after {
            content: '';
            display: block;
            border-bottom: 2px solid $bluedeath;
            width: 8%;
            margin: auto;
            margin-top: 8px;
        }
    }
    p {
        text-align: center;
    }
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #fff;
    .card {
        border-radius: 0;
        border: 0;
        min-height: 250px;
        background-repeat: no-repeat;
        background: linear-gradient(to bottom, #33ccff 0%, #ffffff 100%);
        margin-top: 10px;
        background-position: center center;
        background-size: cover;
        overflow: hidden;
        &::after {
            content: '';
            position: absolute;
            background: linear-gradient(
                to bottom,
                $bluedeath 10%,
                rgba(0,0,0,0.2) 50%,
                );
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        &:hover {
            .btn-services {
                visibility: visible;
                bottom: 0;
                transition: ease-in .2s;
            }
        }
        h5,p {
            position: relative;
            z-index: 1;
            color: white;
        }
        h6 {
            color: #394458;
            font-size: 60px;
        }
        h5 {
            font-weight: bold;
            font-size: 24px;
            text-align: center;
            margin-top: 25px;
        }
        .btn-services {
            background-color: $bluedark;
            position: absolute;
            bottom: 0;
            color: white;
            font-size: 14px;
            left: 0;
            bottom: -15px;
            width: 100%;
            z-index: 2;
            visibility: hidden;
            display: block;
            border-radius: 0;
            &:hover {
                background-color: #112564;
            }
        }
    }
}

#detail-services {
    min-height: 500px;
    padding-top: 40px;
    padding-bottom: 90px;
    background-color: $background2;
    .detail-img {
        img {
            width: 98%;
        }
    }
    .services-txt {
        .title-detail {
            font-size: 30px;
        }
        h2,h3,h4,h5,h6 {
            font-size: 17px;
        }
        h2 {
            margin-top: 30px;
            font-weight: 700;
            padding-bottom: 6px;
            color: $bluedark;
        }
        .btn-general {
            margin-top: 15px;
        }
    }
    .share {
        a {
            color: $bluedeath;
            font-size: 15px;
            margin: 0px;
            padding: 5px;
            &:hover {
                background-color: $bluedeath;
                border-radius: 0;
                color: white;
            }
        }
    }
    table {
        width: 100%;
    }
    th {
        background-color: $bluedeath;
        color: $breadcrumbs;
    }
    th,td {
        padding: 15px;
        text-align: left;
        height: 50px;
        border: 1px solid #ddd;
        font-size: 14px;
    }
    tr {
       &:nth-child(even) {
            background-color: white;
        }
        &:hover {
            background-color: #e0e0e0;
        }
    }
}

#projects {
    padding-top: 60px;
    background-color: $background2;
    padding-bottom: 50px;
    h2,h3 {
        margin-bottom: 20px;
        font-size: 35px;
        text-align: center;
        font-weight: 700;
        padding-bottom: 6px;
        color: $bluedark;
        &::after {
            content: '';
            display: block;
            border-bottom: 2px solid $bluedeath;
            width: 8%;
            margin: auto;
            margin-top: 8px;
        }
    }  
    .nav {
        margin-bottom: 40px;
        li {
            padding-left: 10px;
            padding-right: 10px;
        }
        .btn {
            font-weight: 400;
            &.active {
                border-radius: 0;
                font-weight: 700;
                background-color: $primary;
                box-shadow: 1px 1px 4px #d1d1d1;
            }
            &:hover {
                background-color: $primaryHover;
                font-weight: 500;
            }
        }
    }
    .box-projects {
        padding: 5px;
        .card {
            border: 0;
            border-radius: 0;
            margin-bottom: 58px;
            .card-body {
                border: 0;
                padding: 10px;
                &:hover {
                    .box-control {
                        visibility: visible;
                        cursor: pointer;
                        transform: scale(1.1);
                        border-left: 3px solid $bluedeath;
                        border-right: 3px solid $bluedeath;
                    }
                }
                .img-projects {
                    border-radius: 0;
                    overflow: hidden;
                }
                .box-control {
                    padding-top: 9px;
                    padding-bottom: 9px;
                    margin-top: -27%;
                    visibility: hidden;
                    background-color: rgba(255, 255, 255, 0.9);
                    z-index: 2;
                    position: relative;
                    margin-left: 12px;
                    margin-right: 12px;
                    transition: all ease-in-out 0.3s;
                    h5 {
                        color: $bluedark;
                        margin-bottom: 0px;
                        font-size: 17px;
                    }
                    span {
                        font-size: 14px;
                        color: gray;
                    }
                    .btn-control-project {
                        margin-left: 14px;
                        padding-left: 5px;
                        padding-right: 5px;
                        border-radius: 5px;
                        .alt {
                            color: $bluedeath;
                        }
                        &:hover {
                            background-color: $bluedeath;
                            .alt {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
    .limiting-data {
        margin-top: 40px;
        margin-bottom: 20px;
        strong,a {
            background-color: transparent;
            border: 0;
            border-radius: 0;
            color: rgb(160, 160, 160);
            margin-left: 5px;
            margin-right: 5px;
            padding: 9px 15px 9px 15px;
            font-weight: 400;
            background-color: #f5f5f5;
        }

        a {
            text-decoration: none;
            &:hover {
                background-color: $primaryHover;
                color: $bluedark;
                font-weight: 500;
                transition: .1s;
            }
        }

        strong {
            background-color: $primary !important;
                color: $bluedark;
                font-weight: 600;
        }
    }
}

#detail-project {
    min-height: 500px;
    padding-top: 40px;
    padding-bottom: 90px;
    background-color: $background2;
    .detail-img {
        overflow: hidden;
        img {
            width:90%;
        }
    }
    .intro-txt {
        .title-detail {
            font-size: 30px;
        }
        h2,h3,h4,h5,h6 {
            font-size: 17px;
        }
        h2 {
            margin-top: 30px;
            font-weight: 700;
            padding-bottom: 6px;
            color: $bluedark;
        }
        .btn-general {
            margin-top: 15px;
        }
    }
    .share {
        a {
            color: $bluedeath;
            font-size: 15px;
            margin: 0px;
            padding: 5px;
            &:hover {
                background-color: $bluedeath;
                border-radius: 0;
                color: white;
            }
        }
    }
    table {
        width: 100%;
    }
    th {
        background-color: $bluedeath;
        color: $breadcrumbs;
    }
    th,td {
        padding: 15px;
        text-align: left;
        height: 50px;
        border: 1px solid #ddd;
        font-size: 14px;
    }
    tr {
       &:nth-child(even) {
            background-color: white;
        }
        &:hover {
            background-color: #e0e0e0;
        }
    }
}

#careers {
    padding-top: 20px;
    padding-bottom: 90px;
    .header-text {
        .note {
            .card {
                box-shadow: 0px 4px 4px #f1f1f1;
                border: 0;
                border-radius: 0;
                background-color: #e4ffec;
                border-left: 7px solid $bluedeath;
                .card-body {
                    padding: 15px;
                    text-align: justify;
                }
            }
        }
        .share {
            margin-top: 15px;
            .card {
                border: 0;
                border-radius: 0;
                background-color: #ffffff;
                .card-body {
                    padding: 15px;
                    text-align: center;
                    .btn-share {
                        color: $bluedeath;
                        background-color: $primary;
                        font-size: 15px;
                        margin-top: 10px;
                        margin-left: 10px;
                        padding: 5px;
                        padding-left: 10px;
                        padding-right: 10px;
                        &:hover {
                            background-color: $primaryHover;
                            border-radius: 0;
                            color: black;
                        }
                    }
                }
            }
        }
    }
    .items-career {
        .card {
            border-radius: 0;
            border: 0;
            min-height: 150px;
            background-repeat: no-repeat;
            margin-top: 10px;
            background-position: center center;
            background-size: cover;
            overflow: hidden;
            text-align: center;
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                top: 0;
                left: 0;
            }
            &:hover {
                .btn-detail-career {
                    visibility: visible;
                    bottom: 0;
                    transition: ease-in .2s;
                }
            }
            h5,p {
                position: relative;
                z-index: 1;
                color: white;
            }
            h5 {
                font-weight: bold;
                font-size: 20px;
                text-align: center;
                margin-top: 20px;
                margin-bottom: 5px;
            }
            .btn-detail-career {
                background-color: $primary;
                position: absolute;
                bottom: 0;
                color: rgb(0, 0, 0);
                font-size: 14px;
                left: 0;
                bottom: -15px;
                width: 100%;
                font-weight: 500;
                z-index: 2;
                visibility: hidden;
                display: block;
                border-radius: 0;
                &:hover {
                    background-color: $primaryHover;
                }
            }
        }
    }
}

#galleries {
    padding-top: 60px;
    background-color: $background2;
    padding-bottom: 10px;
    padding-right: 3px;
    padding-left: 3px;
    header {
        h2,h3 {
            margin-bottom: 20px;
            font-size: 35px;
            text-align: center;
            font-weight: 700;
            padding-bottom: 6px;
            text-align: center;
            color: $bluedark;
            &::after {
                content: '';
                display: block;
                border-bottom: 2px solid $bluedeath;
                width: 20%;
                margin: auto;
                margin-top: 8px;
            }
        }
    }  
    .nav {
        .nav-link {
            background-color: white;
            margin: 6px;
            min-width: 200px;
            padding: 19px;
            box-shadow: 2px 2px 4px #eeeeee;
            border-radius: 0px;
            color: #b8b8b8;
            font-weight: 400;
            text-transform: capitalize;
            .icon-category {
                font-size: 30px !important;
            }
            &:hover {
                background-color: $primaryHover;
            }
            &.active {
                background-color: $primary;
                color: $bluedark;
                font-weight: 500;
            }
        }
    }
    .tab-content {
        .box-gallery {
            padding: 5px;
            .card {
                border: 0;
                border-radius: 0;
                .card-body {
                    border: 0;
                    padding: 10px;
                    overflow: hidden;
                    &:hover {
                        box-shadow: 3px 4px 5px #b9b9b9;
                        .box-control {
                            visibility: visible;
                            background-color: rgba(14, 8, 8, 0.7);
                            .box-text {
                                left: 0;
                                visibility: visible;
                            }
                        }
                    }
                    .img-gallery {
                        border-radius: 0;
                        width: 100%;
                    }
                    .box-control {
                        visibility: hidden;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        overflow: hidden;
                        top: 0;
                        color: white;
                        background-color: rgba(10, 9, 15, 0.3);
                        transition: ease-in-out .2s;
                        .box-text {
                            width: 100%;
                            background-color: white;
                            position: relative;
                            left: -40%;
                            transition: ease-in-out .3s;
                            visibility: hidden;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            h5 {
                                color: $bluedark;
                                margin-bottom: 0px;
                                font-size: 18px;
                                margin-bottom: 7px;
                            }
                            span {
                                font-size: 15px;
                                color: #818181;
                            }
                        }
                    }
                }
            }
        }
    }
}

#news {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $background2;
    .news-main {
        .entry-news {
            .card {
                margin-bottom: 10px;
                border-radius: 0;
                border: 0;
                box-shadow: 2px 2px 4px rgba(226, 226, 226, 0.623);
                .img-news {
                    overflow: hidden;
                    max-height: 400px;
                    img {
                        width: 100%;
                    }
                }
                .entry-content {
                    padding-right: 30px;
                    padding-left: 30px;
                    .card-title {
                        font-weight: 500;
                        font-size: 25px;
                        color: $bluedark;
                    }
                    .meta {
                        color: gray;
                        margin-bottom: 10px;
                        span {
                            margin-right: 14px;
                            font-size: 14px;
                        }
                    }
                    .btn-general {
                        float: right;
                    }
                    p {
                        color: #5a5a5a;
                    }
                    h3,h4,h5,h6 {
                        color: $bluedeath;
                        font-weight: 600;
                    }
                    h3 {
                        font-size: 25px;
                    }
                    h4 {
                        font-size: 20px;
                    }
                    h5 {
                        font-size: 18px;
                    }
                    h6 {
                        font-size: 16px;
                    }
                    blockquote {
                        font-size: 20px;
                        border-left: 6px solid $bluedeath;
                        background-color: #f6f6f6;
                        padding: 10px;
                        font-weight: 400;
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                    img {
                        width: 100%;
                    }
                    table {
                        width: 100%;
                    }
                    th {
                        background-color: $bluedeath;
                        color: $breadcrumbs;
                    }
                    th,td {
                        padding: 10px;
                        text-align: left;
                        height: 20px;
                        border: 1px solid #ddd;
                        font-size: 16px;
                    }
                    tr {
                       &:nth-child(even) {
                            background-color: white;
                        }
                        &:hover {
                            background-color: #e0e0e0;
                        }
                    }
                }
            }
            .card-footer {
                background-color: #fafafa;
            }
            .info {
                .nav {
                    .nav-link {
                        font-size: 14px;
                        padding-right: 0;
                        color: #aaaaaa;
                        .icon {
                            color: gray;
                        }
                    }
                }
            }
            .share-post {
                .nav {
                    margin-right: 20px;
                    .nav-link {
                        font-size: 14px;
                        padding-right: 0;
                        color: #aaaaaa;
                        .icon {
                            color: gray;
                            &:hover {
                                color: $bluedark;
                            }
                        }
                    }
                }
            }
        }
        .admin {
            border: 0;
            background-color: #fbffd9;
            box-shadow: 2px 2px 4px rgba(226, 226, 226, 0.623);
            .card-img {
                border-radius: 0;
                overflow: hidden;
            }
        }
        .pagination {
            justify-content: center;
            margin-bottom: 30px;
            .limiting-data {
                margin-top: 40px;
                margin-bottom: 20px;
                strong,a {
                    background-color: transparent;
                    border: 0;
                    border-radius: 0;
                    color: rgb(160, 160, 160);
                    margin-left: 5px;
                    margin-right: 5px;
                    padding: 9px 15px 9px 15px;
                    font-weight: 400;
                    background-color: #f5f5f5;
                }
        
                a {
                    text-decoration: none;
                    &:hover {
                        background-color: $primaryHover;
                        color: $bluedark;
                        font-weight: 500;
                        transition: .1s;
                    }
                }
        
                strong {
                    background-color: $primary !important;
                        color: $bluedark;
                        font-weight: 600;
                }
            }
        }
    }
    .sidebar {
        .form-search,.recent-post,.categories,.tags {
            min-height: 100px;
            background-color: $background;
            box-shadow: 2px 2px 4px rgba(230, 230, 230, 0.815);
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            h3 {
                font-size: 20px;
                color: $bluedeath;
                margin-bottom: 15px;
            }
        }
        .form-search {
            input {
                border-radius: 0;
                border: 0;
                background-color: whitesmoke;
                font-size: 13px;
                padding: 20px
            }
            button {
                border: 0;
                background-color: transparent;
                font-size: 15px;
            }
            .input-group-text {
                background-color: $primaryHover;
                border: 0;
            }
        }
        .media {
            margin-bottom: 10px;
            h5 {
                font-size: 15px;
                font-weight: 500;
                margin-bottom: 0px;
                a {
                    color: $bluedeath;
                    text-decoration: none;
                    &:hover {
                        color: black;
                    }
                }
            }
            span {
                color: gray;
                font-size: 13px;
            }
            .img-media {
                width: 100px;
                height: 100px;
                margin-right: 20px;
            }
        }
        .categories {
            .nav {
                .nav-item {
                    .nav-link {
                        padding-left: 0;
                        color: gray;
                        font-size: 16px;
                        &:hover {
                            color: $bluedark;
                        }
                    }
                }
            }
            span {
                margin-left: 5px;
                border-radius: 0;
            }
        }
        .tags {
            .nav {
                .nav-item {
                    .nav-link {
                        color: gray;
                        margin-bottom: 4px;
                        background-color: #f1f1f1dc;
                        margin-right: 4px;
                        font-size: 13px;
                        &:hover {
                            color: $bluedark;
                            background-color: $primaryHover;
                        }
                    }
                }
            }
        }
    }
}

#breakingnews {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #eef1f1;
    h2,h3 {
        margin-bottom: 20px;
        font-size: 35px;
        text-align: center;
        font-weight: 700;
        padding-bottom: 6px;
        text-transform: uppercase;
        color: $bluedark;
    }
    p {
        text-align: center;
    }
    .card {
        border-radius: 0;
        border: 0;
        min-height: 250px;
        background-repeat: no-repeat;
        margin-top: 10px;
        background-position: center center;
        background-size: cover;
        overflow: hidden;
        &::after {
            content: '';
            position: absolute;
            background: rgba(0, 0, 0, 0.438);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        &:hover {
            
                &::after {
                    transition: .2s;
                    background: rgba(0, 0, 0, 0.151);
                }
            
        }
        h5,p {
            position: relative;
            z-index: 1;
            color: white;
        }
        h6 {
            color: #394458;
            font-size: 60px;
        }
        h5 {
            font-weight: bold;
            font-size: 20px;
            text-align: center;
            margin-top: 25px;
        }
        .btn-news {
            background-color: $bluedark;
            position: absolute;
            bottom: 0;
            color: white;
            font-size: 14px;
            left: 0;
            bottom: 0;
            width: 100%;
            z-index: 2;
            display: block;
            border-radius: 0;
            &:hover {
                background-color: #112564;
            }
        }
    }
}

#archives {
    padding-top: 30px;
    background-color: $background2;
    padding-bottom: 40px;
    padding-right: 3px;
    padding-left: 3px;
    .nav {
        margin-right: 12px;
        justify-content: center;
        margin-bottom: 25px;
        .nav-link {
            text-align: center;
            background-color: white;
            margin: 6px;
            min-width: 150px;
            padding: 5px;
            box-shadow: 2px 2px 4px #eeeeee;
            border-radius: 0px;
            color: #b8b8b8;
            font-weight: 400;
            text-transform: capitalize;
            &:hover {
                background-color: $primaryHover;
            }
            &.active {
                background-color: $primary;
                color: $bluedark;
                font-weight: 500;
            }
        }
    }
    .tab-content {
        min-height: 100px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0 !important;
        // background-color: $background;
        .card {
            border-radius: 0;
            border: 0;
            min-height: 240px;
            background-repeat: no-repeat;
            margin-top: 10px;
            background-position: center 23%;
            background-size: cover;
            background-color: rgba(66, 66, 66, 0.048);
            overflow: hidden;
            &:hover {
                .card-body {
                    visibility: visible;
                    transition: all ease-in-out .2s;
                    top: 0%;
                }
                .card-footer {
                    border: 1px solid rgba(228, 228, 228, 0.671);
                }
            }
            .card-body {
                background-color: $bluedark;
                position: absolute;
                font-size: 14px;
                left: 0;
                height: 10px;
                top: -10%;
                width: 100%;
                z-index: 2;
                padding-bottom: 36px;
                padding-top: 12px;
                visibility: hidden;
                border-radius: 0;
                transition: ease-in-out .2s;
                .btn-download {
                    color: white;
                    margin: 12px;
                    font-size: 14px;
                    &:hover {
                        color: $primary;
                    }
                }
            }
            .card-footer {
                background-color: #ffffff;
                position: absolute;
                bottom: 0;
                text-transform: capitalize;
                left: 0;
                bottom: 0;
                width: 100%;
                z-index: 2;
                display: block;
                border-radius: 0;
                border: 1px solid rgba(238, 238, 238, 0.788);
                h6 {
                    color: $bluedark;
                    font-size: 14px;
                    margin-bottom: 2px;
                }
                small {
                    font-size: 12px;
                    color: #a7a7a7;
                    font-weight: 300;
                }
            }
        }
    }
}

#contact {
    background-color:$background2;
    padding-bottom: 60px;
    iframe {
        width: 100% !important;
        overflow: hidden;
        max-height: 340px !important;
        margin-bottom: 20px;
    }
    .card {
        border-radius: 0;
        border: 0;
        min-height: 145px !important;
        &:hover {
            box-shadow: 2px 2px 5px #f1f1f1;
        }
        span {
            color: #999999;
            font-size: 15px;
        }
        h5 {
            font-weight: 500;
            margin-top: 0;
            font-size: 18px;
            margin-bottom: 5px;
        }
    }
    .icon-contact {
        margin-right: 20px;
        margin-top: 10px;
        span {
            padding: 15px;
            padding-left: 19px;
            padding-right: 19px;
            background-color: $primaryHover;
            color: $bluedark;
            font-size: 20px;
            &:hover {
                background-color: $primary;
            }
        }
    }

    input {
        padding: 18px;
    }
    select,input,textarea {
        border-radius: 0;
        border: 1px solid #e6e6e6;
        font-size: 14px;
        color: $bluedark;
    }
}

footer {
    padding-top: 50px;
    min-height: 200px;
    background-color: $bluedeath;
    color: white;

    li {
        color: #d1d1d1;
        text-decoration: none;
        font-size: 15px;
    }
    .maps {
        max-height: 100;
        text-align: right;
        iframe {
            width: 90% !important;
            height: 250px !important;
        }
    }
    .site-name {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .navigation {
        font-size: 19px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .nav-identity {
        li {
            padding-right: 90px;
        }
    }
    .nav-footer {
        li {
            padding-bottom: 10px;
            
            &::before {
                content: '\f0da      ';
                font-family: 'FontAwesome';
                color: white;
                font-weight: 200;
            }

            .link {
                
                color: #d1d1d1;
                text-decoration: none;
                &:hover {
                    color: $primaryHover;
                    transition: .5s;
                    font-weight: 400;
                }
            }
        }
    }
}

#copyright {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    background-color: $bluedark;
    font-size: 14px;
    span {
        color: #d1d1d1;
        a {
            color: $primary;
            text-decoration: none;
        }
    }
    .nav-link {
        background-color: $primary;
        margin: 3px;
        color: $bluedeath;
        &:hover {
            background-color: $primaryHover;
            color: $bluedark;
        }
    }
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
# Extra small devices (portrait phones, less than 576px)
--------------------------------------------------------------*/
@media (max-width: 575.98px) { 
    .btn-general {
        background-color: $primary;
        border-radius: 0;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 500;
    }

    #notfound {
        img {
            max-width: 100%;
            box-shadow: 0px 0px 0px white;
        }
        .btn-general {
            margin-top: 6%;
            font-weight: bold;
            font-size: 13px;
        }
    }

    .navbar {
        .navbar-brand {
            padding: 0;
            img {
                max-width: 50px;
            }
        }
        .navbar-nav {
            .nav-item {
                &.active {
                    font-weight: bold;
                }
                margin-left: 14px;
                font-size: 14px;
                a {
                    color: $bluedeath;
                    &:hover {
                        color: $black;
                    }
                }
            }
        }
        .dropdown {
            .dropdown-menu {
                padding-top: 10px;
                padding-bottom: 10px;
                border: none;
                border-radius: 0;
                border-left: 4px solid $bluedeath;
                a {
                    font-size: 14px;
                    padding-left: 10px;
                    &:focus {
                        background-color: $bluedeath;
                        color: $fontwhite;
                    }
                }
            }
        }
    }

    #breadcrumbs {
        background-color: $breadcrumbs;
        h2 {
            text-align: center;
            font-size: 19px;
            margin-top: 25px;
            font-weight: 700;
        }
        .breadcrumb {
            margin-top: -8px;
            justify-content: center;
        }
        li {
            font-size: 14px;
        }
    }

    #hero {
        .carousel {  
            .carousel-caption {
                top: 10%;
                .carousel-content {
                    background: rgba(28, 23, 21, 0.5);
                    padding: 20px;
                    color: $fontwhite;
                    border-left: 5px solid $primary;
                    border-right: 5px solid $primary;
                    margin-bottom: 60px;
                    h1 {
                        color: $fontwhite;
                        margin-bottom: 17px;
                        font-size: 22px;
                        font-weight: 700;
                    }
                    p {
                        font-size: 15px;
                        padding-left: 0;
                        padding-right: 0;
                    }
                    .btn-started {
                        background-color: $primary;
                        border-radius: 0;
                        font-size: 15px;
                        padding-left: 20px;
                        padding-right: 20px;
                        font-weight: 500;
                        
                        &:hover {
                            background-color: $primaryHover;
                        }
                    }
                }
            }
        }
    }
    
    #introduction {
        min-height: 300px;
        padding-bottom: 30px;
        background-color: $background2;
        .intro-img {
            text-align: center;
            img {
                max-width: 80%;
                margin-top: 30px;
            }
            media {
                margin-top: 0px;
                .video {
                    width: 95% !important;
                    border-radius: 0px;
                    box-shadow: 4px 4px 5px rgb(204, 204, 204);
                }
            }
        }
        .intro-txt {
            text-align: justify;
            h2 {
                margin-top: 0px;
                margin-bottom: 20px;
                font-size: 23px;
                text-align: center;
                font-weight: 700;
                padding-bottom: 6px;
                color: $bluedark;
                &::after {
                    content: '';
                    display: block;
                    border-bottom: 6px solid $bluedeath;
                    width: 15%;
                    margin: auto;
                    margin-top: 8px;
                }
            }
            .btn-general {
                margin-top: 15px;
                align-items: center;
            }
        }
    }

    #about {
        min-height: 700px;
        main {
            min-height: 390px;
            max-height: 200px;
        }
        h2 {
            font-size: 23px;
        }
        .history {
            margin-top: -70px;
            .intro-txt {
                .icon-contact {
                    span {
                        padding: 10px;
                        padding-left: 13px;
                        padding-right: 13px;
                        font-size: 17px;
                    }
                }
            }
        }
        .team {
            min-height: 100px;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
            background-color: $background;
            .card {
                border-radius: 0;
                border: 0;
                min-height: 390px;
                background-repeat: no-repeat;
                margin-top: 10px;
                background-position: center center !important;
                background-size: cover;
                overflow: hidden;
                box-shadow: 2px 4px 5px #eeeeee;
                &:hover {
                    .card-body {
                        visibility: visible;
                        transition: all ease-in-out .2s;
                        bottom: 20%;
                    }
                }
                .card-body {
                    background-color: $bluedark;
                    position: absolute;
                    font-size: 14px;
                    left: 0;
                    height: 10px;
                    bottom: 9%;
                    width: 100%;
                    z-index: 2;
                    padding-bottom: 36px;
                    padding-top: 12px;
                    visibility: hidden;
                    border-radius: 0;
                    .btn-socmed {
                        color: white;
                        margin: 12px;
                        font-size: 17px;
                        &:hover {
                            color: $primary;
                        }
                    }
                }
                .card-footer{
                    span {
                        p {
                            padding: 0 !important;
                            margin: 0 !important;
                        }
                    }
                }
            }
        }
    }

    #clients {
        h2 {
            text-align: center;
            color: $fontwhite;
            margin-bottom: 0px;
            font-size: 23px;
            font-weight: 700;
            padding-bottom: 6px;
        }
        p {
            text-align: center;
        }
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: $bluedeath;
    }

    #services {
        padding-top: 40px;
        padding-bottom: 40px;
        h2,h3 {
            font-size: 23px;
            &::after {
                width: 15%;
            }
        }
        .card {
            h5 {
                margin-top: 15%;
                font-size: 22px;
            }
        }
    }

    #detail-services {
        min-height: 500px;
        padding-top: 20px;
        padding-bottom: 90px;
        background-color: $background2;
        .detail-img {
            img {
                width: 98%;
            }
        }
        .services-txt {
            .title-detail {
                font-size: 23px;
                text-align: center;
            }
            h2,h3,h4,h5,h6 {
                font-size: 17px;
            }
            h2 {
                margin-top: 30px;
                font-weight: 700;
                padding-bottom: 6px;
                color: $bluedark;
            }
        }
        .button {
            text-align: center;
        }
        th,td {
            padding: 10px;
            height: 15px;
        }
    }

    #projects {
        h2,h3 {
            margin-bottom: 20px;
            font-size: 23px;
            text-align: center;
            font-weight: 700;
            padding-bottom: 6px;
            color: $bluedark;
            &::after {
                content: '';
                display: block;
                border-bottom: 6px solid $bluedeath;
                width: 15%;
                margin: auto;
                margin-top: 8px;
            }
        }
        background-color: $background2;
        padding-top: 40px;
        padding-bottom: 40px;

        .nav {
            margin-bottom: 40px;
            li {
                padding-left: 2px;
                padding-right: 2px;
            }
            .btn {
                font-weight: 400;
                font-size: 13px;
                &.active {
                    border-radius: 0;
                    font-weight: 700;
                    background-color: $primary;
                }
                &:hover {
                    background-color: $primaryHover;
                    font-weight: 500;
                }
            }
        }
        .box-projects {
                
            .card {
                border: 0;
                border-radius: 0;
                margin-bottom: 43px;
                .card-body {
                    border: 0;
                    padding: 10px;
                    &:hover {
                        .box-control {
                            visibility: visible;
                            cursor: pointer;
                        }
                    }
                    .img-projects {
                        border-radius: 0;
                        overflow: hidden;
                    }
                    .box-control {
                        padding-top: 9px;
                        padding-bottom: 9px;
                        margin-top: -27%;
                        visibility: hidden;
                        background-color: rgba(255, 255, 255, 0.9);
                        z-index: 2;
                        position: relative;
                        margin-left: 12px;
                        margin-right: 12px;
                        h5 {
                            color: $bluedark;
                            margin-bottom: 0px;
                            font-size: 17px;
                        }
                        span {
                            font-size: 14px;
                            color: gray;
                        }
                        .btn-control-project {
                            margin-left: 14px;
                            padding-left: 5px;
                            padding-right: 5px;
                            border-radius: 5px;
                            .alt {
                                color: $bluedeath;
                            }
                            &:hover {
                                background-color: $bluedeath;
                                .alt {
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
        .limiting-data {
            margin-top: 20px;
            margin-bottom: -30px;
            .page-item {
                .page-link {
                    &.prev {
                        margin-right: 10px;
                    }
                    &.next {
                        margin-left: 10px;
                    }
                    margin-bottom: 15px;
                }
            }
        }
    }

    #detail-project {
        min-height: 500px;
        padding-top: 10px;
        background-color: $background2;
        .detail-img {
            img {
                width: 100%;
            }
        }
        .intro-txt {
            .title-detail {
                font-size: 23px;
                text-align: center;
            }
            h2 {
                margin-top: 10px;
                padding-bottom: 6px;
            }
            .button {
                text-align: center;
            }
        }
        th,td {
            padding: 10px;
            height: 15px;
        }
    }

    #galleries {
        // padding-top: 60px;
        background-color: $background2;
        padding-bottom: 6px;
        padding-right: 3px;
        padding-left: 3px;
        header {
            h2,h3 {
                font-size: 23px;
            }
        }  
        .nav {
            .nav-link {
                margin: 4px;
                margin-top: 0px;
                min-width: 126px;
                font-size: 12px;
                .icon-category {
                    font-size: 20px !important;
                    margin-bottom: 6px;
                }
            }
        }
        .tab-content {
            .box-gallery {
                padding: 15px;
                padding-bottom: 5px;
            }
        }
    }
    
    #news {
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: $background2;
        .news-main {
            .entry-news {
                .card {
                    .entry-content {
                        .card-title {
                            font-weight: 500;
                            font-size: 20px;
                            color: $bluedark;
                        }
                        .meta {
                            margin-bottom: 14px;
                            .meta-item {
                                margin-right: 3px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .pagination {
                justify-content: center;
                .limiting-data {
                    .page-link {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    footer {
        padding-top: 50px;
        margin-bottom: 39px;
        min-height: 200px;
        .maps {
            max-height: 100;
            text-align: center;
            iframe {
                width: 100% !important;
                height: 250px !important;
            }
        }
        .site-name {
            font-size: 22px;
            text-align: center;
            font-weight: 600;
            margin-bottom: 20px;
        }
        .nav-identity {
            li {
                padding-right: 0px;
            }
        }
        .nav-footer {
            li {
                padding-bottom: 10px;
                font-size: 14px;
            }
        }
    }

    #copyright {
        text-align: center;
        font-size: 14px;
        .nav {
            margin-top: 10px;
            justify-content: center !important;
        }
    }

    .chat-with-us {
        min-height: 20px;
        padding-top: 10px;
        font-weight: 500;
        border-radius: 0;
        color: white;
        padding-bottom: 10px;
        background-color: #2fbd2f;
        .icon {
            font-size: 27px;
        }        
        &:hover {
            background-color: greenyellow;
        }
    }

    .back-to-top {
        bottom: 10%;
    }
}

/*--------------------------------------------------------------
# Medium devices (tablets, 768px and up)
--------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .back-to-top {
        bottom: 3%;
        right: 50%;
    }

    #hero {
        .carousel {  
            .carousel-caption {
                top: 30%;

                .carousel-content {
                    background: rgba(28, 23, 21, 0.5);
                    padding: 20px;
                    color: $fontwhite;
                    border-left: 5px solid $primary;
                    border-right: 5px solid $primary;
                    margin-bottom: 60px;
                    h1 {
                        color: $fontwhite;
                        margin-bottom: 17px;
                        font-size: 22px;
                        font-weight: 700;
                    }
                    p {
                        font-size: 16px;
                        padding-left: 0;
                        padding-right: 0;
                    }
                    .btn-started {
                        background-color: $primary;
                        border-radius: 0;
                        font-size: 15px;
                        padding-left: 20px;
                        padding-right: 20px;
                        font-weight: 500;
                        
                        &:hover {
                            background-color: $primaryHover;
                        }
                    }
                }
            }
        }
    }

    #notfound {
        img {
            max-width: 100%;
            box-shadow: 0px 0px 0px white;
        }
        .btn-general {
            margin-top: -23%;
            font-weight: bold;
            font-size: 18px;
        }
    }

    #breadcrumbs {
        background-color: $breadcrumbs;
        h2 {
            text-align: left;
            font-size: 21px;
            margin-top: 0px;
            font-weight: 700;
        }
        .breadcrumb {
            margin-top: 10px;
            justify-content: flex-end;
        }
    }

    #clients {
        h2 {
            text-align: left;
            color: $fontwhite;
            margin-bottom: 0px;
            font-size: 23px;
            font-weight: 700;
            padding-bottom: 6px;
        }
        p {
            text-align: left;
        }
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: $bluedeath;
    }

    #news {
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: $background2;
        .news-main {
            .entry-news {
                .card {
                    .entry-content {
                        .card-title {
                            font-weight: 500;
                            font-size: 21px;
                            color: $bluedark;
                        }
                    }
                }
            }
            .pagination {
                justify-content: center;
                .limiting-data {
                    .page-link {
                        font-size: 13px;
                    }
                }
            }
        }
        .sidebar {
            .form-search,.recent-post,.categories,.tags {
                h3 {
                    font-size: 16px;
                    color: $bluedeath;
                    margin-bottom: 15px;
                }
            }
            .media {
                margin-bottom: 10px;
                h5 {
                    font-size: 12px;
                    font-weight: 400;
                    margin-bottom: 0px;
                    a {
                        color: $bluedeath;
                        text-decoration: none;
                        &:hover {
                            color: black;
                        }
                    }
                }
                span {
                    color: gray;
                    font-size: 10px;
                }
                .img-media {
                    width: 60px;
                    height: 60px;
                    margin-right: 15px;
                }
            }
            .categories {
                .nav {
                    .nav-item {
                        .nav-link {
                            padding-left: 0;
                            color: gray;
                            font-size: 15px;
                            &:hover {
                                color: $bluedark;
                            }
                        }
                    }
                }
                span {
                    margin-left: 5px;
                    font-size: 10px;
                    border-radius: 0;
                }
            }
            .tags {
                .nav {
                    .nav-item {
                        .nav-link {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }

    #projects {
        .limiting-data {
            margin-top: 20px;
            margin-bottom: -30px;
            .page-item {
                .page-link {
                    &.prev {
                        margin-right: 6px;
                    }
                    &.next {
                        margin-left: 6px;
                    }
                    margin-bottom: 15px;
                }
            }
        }
    }

    footer {
        padding-top: 50px;
        .maps {
            max-height: 100;
            text-align: center;
            iframe {
                width: 100% !important;
                height: 250px !important;
            }
        }
        .site-name {
            font-size: 20px;
            text-align: left;
            font-weight: 600;
            margin-bottom: 20px;
        }
        .navigation {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 20px;
        }
        .nav-footer {
            li {
                padding-bottom: 9px;
                font-size: 14px;
            }
        }
    }

    .chat-with-us-desktop {
        bottom: 30%;
    }
}

/*--------------------------------------------------------------
# Extra large devices (large desktops, 1920px and up)
--------------------------------------------------------------*/
@media (min-width: 1920px) {
    #projects {
        .box-projects {
            .card {
                margin-bottom: 109px;
            }
        }
    }
    .chat-with-us-desktop {
        right: -1%;
    }
}