/*--------------------------------------------------------------
# Assets
--------------------------------------------------------------*/
@font-face {
  font-family: 'FontAwesome';
  src: url("../libraries/fontawesome/webfonts/fa-solid-900.woff") format("woff");
}

/*--------------------------------------------------------------
# For universal
--------------------------------------------------------------*/
body {
  background-color: #ffffff;
}

p, ul, li {
  color: #7a7a7a;
}

.btn-general {
  background-color: #FDEE30;
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: 500;
}

.btn-general:hover {
  background-color: #fff784;
}

.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 0;
  right: 2%;
  bottom: 3%;
  border-radius: 50%;
  background: #FDEE30;
  color: #001730;
  -webkit-transition: display 0.5s ease-in-out;
  transition: display 0.5s ease-in-out;
}

.back-to-top:hover {
  color: #425664;
  background: #fff784;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.back-to-top .backtop-icon {
  font-size: 18px;
}

.chat-with-us-desktop {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: fixed;
  border: 0;
  border-radius: 0;
  right: -115px !important;
  color: white;
  font-weight: 500;
  z-index: 9999;
  bottom: 45%;
  background-color: #53bb3f;
  -webkit-transition: display 0.5s ease-in-out;
  transition: display 0.5s ease-in-out;
}

.chat-with-us-desktop:hover {
  color: #425664;
  background: greenyellow;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.chat-with-us-desktop .backtop-icon {
  font-size: 24px;
}

#notfound {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  background-color: #4f7aa1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#notfound img {
  max-width: 70%;
  -webkit-box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.24);
          box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.24);
}

#notfound .btn-general {
  margin-top: -18%;
  font-weight: bold;
}

.mini-contact {
  background-color: #425664;
}

.mini-contact .phonemail .nav-link {
  padding-right: 0px;
}

.mini-contact .nav-link {
  color: #f1f1f1;
  font-size: 14px;
  padding-right: 26px;
}

.mini-contact .nav-link:hover {
  color: #FDEE30;
}

.mini-contact .nav-link .icon {
  color: #fff;
}

.mini-contact .nav-link .icon:hover {
  color: #FDEE30;
}

.navbar {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 5px rgba(56, 56, 56, 0.048);
          box-shadow: 0px 2px 5px rgba(56, 56, 56, 0.048);
}

.navbar .navbar-toggler {
  background-color: #425664;
  border-radius: 0;
  color: white !important;
}

.navbar .navbar-toggler .icon-collapse-navbar {
  color: white;
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar .navbar-brand img {
  max-width: 60px;
}

.navbar .navbar-nav .nav-item {
  margin-left: 14px;
  font-size: 14px;
}

.navbar .navbar-nav .nav-item.active {
  font-weight: bold;
}

.navbar .navbar-nav .nav-item a {
  color: #425664;
}

.navbar .navbar-nav .nav-item a:hover {
  color: #222222;
}

.navbar .dropdown:hover > .dropdown-menu {
  display: block;
}

.navbar .dropdown .dropdown-menu {
  padding-top: 16px;
  padding-bottom: 0;
  border: none;
  border-radius: 0;
  border-bottom: 4px solid #425664;
}

.navbar .dropdown .dropdown-menu a {
  font-size: 14px;
}

.navbar .dropdown .dropdown-menu a:focus {
  background-color: #425664;
  color: #ffffff;
}

.navbar .dropdown .dropdown-menu a.active {
  background-color: #425664;
  color: #ffffff;
}

#breadcrumbs {
  background-color: #f0f0f0;
}

#breadcrumbs h2 {
  font-size: 23px;
  font-weight: 500;
  color: #425664;
}

#breadcrumbs .breadcrumb {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: transparent !important;
  margin-top: 10px;
}

#breadcrumbs .breadcrumb .breadcrumb-item {
  font-weight: 100;
}

#breadcrumbs .breadcrumb .breadcrumb-item a {
  color: #425664;
  font-weight: 500;
  text-decoration: none;
}

#breadcrumbs .breadcrumb .breadcrumb-item a:hover {
  color: #001730;
}

#hero {
  width: 100%;
  height: 70vh;
  background-color: rgba(14, 11, 10, 0.8);
  overflow: hidden;
  position: relative;
  padding: 0;
}

#hero .carousel .carousel-item {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#hero .carousel .carousel-caption {
  top: 20%;
}

#hero .carousel .carousel-caption .carousel-content {
  background: rgba(28, 23, 21, 0.5);
  padding: 20px;
  color: #fff;
  border-left: 5px solid #FDEE30;
  border-right: 5px solid #FDEE30;
  margin-bottom: 60px;
}

#hero .carousel .carousel-caption .carousel-content h1 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 65px;
  font-weight: 200;
}

#hero .carousel .carousel-caption .carousel-content p {
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
}

#hero .carousel .carousel-caption .carousel-content .btn-started {
  background-color: #FDEE30;
  border-radius: 0;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 500;
}

#hero .carousel .carousel-caption .carousel-content .btn-started:hover {
  background-color: #fff784;
}

#hero .carousel .btn-carousel-control {
  border-radius: 0;
  padding: 10px;
  color: #425664;
  background-color: #ffffff;
}

#introduction {
  min-height: 300px;
  background-color: #fafafa;
}

#introduction .intro-img {
  text-align: center;
}

#introduction .intro-img img {
  margin-top: 10%;
  max-width: 80%;
}

#introduction .intro-img .media {
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
}

#introduction .intro-img .media .video {
  width: 100%;
  border-radius: 0px;
  -webkit-box-shadow: 4px 4px 5px #cccccc;
          box-shadow: 4px 4px 5px #cccccc;
}

#introduction .intro-txt h2 {
  margin-top: 40px;
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 6px;
  color: #001730;
}

#introduction .intro-txt h2::after {
  content: '';
  display: block;
  border-bottom: 2px solid #425664;
  width: 15%;
  margin-top: 8px;
}

#introduction .intro-txt .btn-general {
  margin-top: 15px;
}

#clients {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #425664;
}

#clients h2, #clients p {
  color: white;
}

#clients h2 {
  margin-bottom: 6px;
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 6px;
}

#clients .box-clients .img-item {
  background-color: #f3f3f3;
  padding: 10px;
  text-align: right;
  min-height: 110px;
  border: 4px solid white;
}

#clients .box-clients .img-item:hover {
  background-color: white;
}

#clients .box-clients .img-item .client {
  margin-top: 10px;
  margin-left: 10px;
  max-width: 120px;
}

#about {
  background-color: #fafafa;
}

#about .img-head {
  min-height: 360px;
  max-height: 200px;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about h2 {
  margin-top: 40px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 6px;
  color: #001730;
}

#about h2::after {
  content: '';
  display: block;
  border-bottom: 2px solid #425664;
  width: 9%;
  margin: auto;
  margin-top: 10px;
}

#about .history {
  margin-top: -100px;
}

#about .history .intro-txt {
  background-color: white;
}

#about .history .intro-txt .detail {
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
}

#about .history .intro-txt .card {
  border-radius: 0;
  border: 0;
  -webkit-box-shadow: 2px 2px 5px #f1f1f1;
          box-shadow: 2px 2px 5px #f1f1f1;
  background-color: #fafafa;
}

#about .history .intro-txt .card h5 {
  font-weight: 500;
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 5px;
}

#about .history .intro-txt .icon-contact {
  margin-right: 20px;
  margin-top: 10px;
}

#about .history .intro-txt .icon-contact span {
  padding: 15px;
  padding-left: 19px;
  padding-right: 19px;
  background-color: #fff784;
  color: #001730;
  font-size: 20px;
}

#about .history .intro-txt .icon-contact span:hover {
  background-color: #FDEE30;
}

#about .team {
  min-height: 100px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

#about .team .card {
  border-radius: 0;
  border: 0;
  min-height: 290px;
  background-repeat: no-repeat;
  margin-top: 10px;
  background-position: center 23%;
  background-size: cover;
  overflow: hidden;
  -webkit-box-shadow: 2px 4px 5px #eeeeee;
          box-shadow: 2px 4px 5px #eeeeee;
}

#about .team .card:hover .card-body {
  visibility: visible;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
  bottom: 26%;
}

#about .team .card .card-body {
  background-color: #001730;
  position: absolute;
  font-size: 14px;
  left: 0;
  height: 10px;
  bottom: 10%;
  width: 100%;
  z-index: 2;
  padding-bottom: 36px;
  padding-top: 12px;
  visibility: hidden;
  border-radius: 0;
}

#about .team .card .card-body .btn-socmed {
  color: white;
  margin: 12px;
  font-size: 17px;
}

#about .team .card .card-body .btn-socmed:hover {
  color: #FDEE30;
}

#about .team .card .card-footer {
  background-color: white;
  position: absolute;
  bottom: 0;
  text-transform: capitalize;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  display: block;
  border-radius: 0;
}

#about .team .card .card-footer h6 {
  color: #001730;
  font-size: 20px;
  margin-bottom: 5px;
}

#about .team .card .card-footer span {
  font-size: 14px;
  color: #bbbbbb;
  font-weight: 500;
}

#about .clients {
  min-height: 200px;
  background-color: #ffffff;
  padding-bottom: 50px;
}

#about .clients p {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

#about .clients .card {
  border-radius: 0;
  border: 0;
  min-height: 123px;
  -webkit-box-shadow: 2px 2px 5px #e9e9e9;
          box-shadow: 2px 2px 5px #e9e9e9;
  background-color: #fafafa;
  text-align: center;
  font-weight: 400;
}

#about .clients .card:hover {
  background-color: #f0f0f0;
  color: #001730;
}

#about .clients .card img {
  width: 40%;
  margin-bottom: 10px;
  margin-top: 7px;
}

#about .clients .card span {
  font-weight: 400;
  color: #808080;
}

#services {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #fff;
}

#services h2, #services h3 {
  margin-bottom: 20px;
  font-size: 35px;
  text-align: center;
  font-weight: 700;
  padding-bottom: 6px;
  text-transform: uppercase;
  color: #001730;
}

#services h2::after, #services h3::after {
  content: '';
  display: block;
  border-bottom: 2px solid #425664;
  width: 8%;
  margin: auto;
  margin-top: 8px;
}

#services p {
  text-align: center;
}

#services .card {
  border-radius: 0;
  border: 0;
  min-height: 250px;
  background-repeat: no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(#33ccff), to(#ffffff));
  background: linear-gradient(to bottom, #33ccff 0%, #ffffff 100%);
  margin-top: 10px;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

#services .card::after {
  content: '';
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #425664), color-stop(50%, rgba(0, 0, 0, 0.2)));
  background: linear-gradient(to bottom, #425664 10%, rgba(0, 0, 0, 0.2) 50%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#services .card:hover .btn-services {
  visibility: visible;
  bottom: 0;
  -webkit-transition: ease-in .2s;
  transition: ease-in .2s;
}

#services .card h5, #services .card p {
  position: relative;
  z-index: 1;
  color: white;
}

#services .card h6 {
  color: #394458;
  font-size: 60px;
}

#services .card h5 {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top: 25px;
}

#services .card .btn-services {
  background-color: #001730;
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 14px;
  left: 0;
  bottom: -15px;
  width: 100%;
  z-index: 2;
  visibility: hidden;
  display: block;
  border-radius: 0;
}

#services .card .btn-services:hover {
  background-color: #112564;
}

#detail-services {
  min-height: 500px;
  padding-top: 40px;
  padding-bottom: 90px;
  background-color: #fafafa;
}

#detail-services .detail-img img {
  width: 98%;
}

#detail-services .services-txt .title-detail {
  font-size: 30px;
}

#detail-services .services-txt h2, #detail-services .services-txt h3, #detail-services .services-txt h4, #detail-services .services-txt h5, #detail-services .services-txt h6 {
  font-size: 17px;
}

#detail-services .services-txt h2 {
  margin-top: 30px;
  font-weight: 700;
  padding-bottom: 6px;
  color: #001730;
}

#detail-services .services-txt .btn-general {
  margin-top: 15px;
}

#detail-services .share a {
  color: #425664;
  font-size: 15px;
  margin: 0px;
  padding: 5px;
}

#detail-services .share a:hover {
  background-color: #425664;
  border-radius: 0;
  color: white;
}

#detail-services table {
  width: 100%;
}

#detail-services th {
  background-color: #425664;
  color: #f0f0f0;
}

#detail-services th, #detail-services td {
  padding: 15px;
  text-align: left;
  height: 50px;
  border: 1px solid #ddd;
  font-size: 14px;
}

#detail-services tr:nth-child(even) {
  background-color: white;
}

#detail-services tr:hover {
  background-color: #e0e0e0;
}

#projects {
  padding-top: 60px;
  background-color: #fafafa;
  padding-bottom: 50px;
}

#projects h2, #projects h3 {
  margin-bottom: 20px;
  font-size: 35px;
  text-align: center;
  font-weight: 700;
  padding-bottom: 6px;
  color: #001730;
}

#projects h2::after, #projects h3::after {
  content: '';
  display: block;
  border-bottom: 2px solid #425664;
  width: 8%;
  margin: auto;
  margin-top: 8px;
}

#projects .nav {
  margin-bottom: 40px;
}

#projects .nav li {
  padding-left: 10px;
  padding-right: 10px;
}

#projects .nav .btn {
  font-weight: 400;
}

#projects .nav .btn.active {
  border-radius: 0;
  font-weight: 700;
  background-color: #FDEE30;
  -webkit-box-shadow: 1px 1px 4px #d1d1d1;
          box-shadow: 1px 1px 4px #d1d1d1;
}

#projects .nav .btn:hover {
  background-color: #fff784;
  font-weight: 500;
}

#projects .box-projects {
  padding: 5px;
}

#projects .box-projects .card {
  border: 0;
  border-radius: 0;
  margin-bottom: 58px;
}

#projects .box-projects .card .card-body {
  border: 0;
  padding: 10px;
}

#projects .box-projects .card .card-body:hover .box-control {
  visibility: visible;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-left: 3px solid #425664;
  border-right: 3px solid #425664;
}

#projects .box-projects .card .card-body .img-projects {
  border-radius: 0;
  overflow: hidden;
}

#projects .box-projects .card .card-body .box-control {
  padding-top: 9px;
  padding-bottom: 9px;
  margin-top: -27%;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
  position: relative;
  margin-left: 12px;
  margin-right: 12px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

#projects .box-projects .card .card-body .box-control h5 {
  color: #001730;
  margin-bottom: 0px;
  font-size: 17px;
}

#projects .box-projects .card .card-body .box-control span {
  font-size: 14px;
  color: gray;
}

#projects .box-projects .card .card-body .box-control .btn-control-project {
  margin-left: 14px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

#projects .box-projects .card .card-body .box-control .btn-control-project .alt {
  color: #425664;
}

#projects .box-projects .card .card-body .box-control .btn-control-project:hover {
  background-color: #425664;
}

#projects .box-projects .card .card-body .box-control .btn-control-project:hover .alt {
  color: white;
}

#projects .limiting-data {
  margin-top: 40px;
  margin-bottom: 20px;
}

#projects .limiting-data strong, #projects .limiting-data a {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: #a0a0a0;
  margin-left: 5px;
  margin-right: 5px;
  padding: 9px 15px 9px 15px;
  font-weight: 400;
  background-color: #f5f5f5;
}

#projects .limiting-data a {
  text-decoration: none;
}

#projects .limiting-data a:hover {
  background-color: #fff784;
  color: #001730;
  font-weight: 500;
  -webkit-transition: .1s;
  transition: .1s;
}

#projects .limiting-data strong {
  background-color: #FDEE30 !important;
  color: #001730;
  font-weight: 600;
}

#detail-project {
  min-height: 500px;
  padding-top: 40px;
  padding-bottom: 90px;
  background-color: #fafafa;
}

#detail-project .detail-img {
  overflow: hidden;
}

#detail-project .detail-img img {
  width: 90%;
}

#detail-project .intro-txt .title-detail {
  font-size: 30px;
}

#detail-project .intro-txt h2, #detail-project .intro-txt h3, #detail-project .intro-txt h4, #detail-project .intro-txt h5, #detail-project .intro-txt h6 {
  font-size: 17px;
}

#detail-project .intro-txt h2 {
  margin-top: 30px;
  font-weight: 700;
  padding-bottom: 6px;
  color: #001730;
}

#detail-project .intro-txt .btn-general {
  margin-top: 15px;
}

#detail-project .share a {
  color: #425664;
  font-size: 15px;
  margin: 0px;
  padding: 5px;
}

#detail-project .share a:hover {
  background-color: #425664;
  border-radius: 0;
  color: white;
}

#detail-project table {
  width: 100%;
}

#detail-project th {
  background-color: #425664;
  color: #f0f0f0;
}

#detail-project th, #detail-project td {
  padding: 15px;
  text-align: left;
  height: 50px;
  border: 1px solid #ddd;
  font-size: 14px;
}

#detail-project tr:nth-child(even) {
  background-color: white;
}

#detail-project tr:hover {
  background-color: #e0e0e0;
}

#careers {
  padding-top: 20px;
  padding-bottom: 90px;
}

#careers .header-text .note .card {
  -webkit-box-shadow: 0px 4px 4px #f1f1f1;
          box-shadow: 0px 4px 4px #f1f1f1;
  border: 0;
  border-radius: 0;
  background-color: #e4ffec;
  border-left: 7px solid #425664;
}

#careers .header-text .note .card .card-body {
  padding: 15px;
  text-align: justify;
}

#careers .header-text .share {
  margin-top: 15px;
}

#careers .header-text .share .card {
  border: 0;
  border-radius: 0;
  background-color: #ffffff;
}

#careers .header-text .share .card .card-body {
  padding: 15px;
  text-align: center;
}

#careers .header-text .share .card .card-body .btn-share {
  color: #425664;
  background-color: #FDEE30;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#careers .header-text .share .card .card-body .btn-share:hover {
  background-color: #fff784;
  border-radius: 0;
  color: black;
}

#careers .items-career .card {
  border-radius: 0;
  border: 0;
  min-height: 150px;
  background-repeat: no-repeat;
  margin-top: 10px;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  text-align: center;
}

#careers .items-career .card::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

#careers .items-career .card:hover .btn-detail-career {
  visibility: visible;
  bottom: 0;
  -webkit-transition: ease-in .2s;
  transition: ease-in .2s;
}

#careers .items-career .card h5, #careers .items-career .card p {
  position: relative;
  z-index: 1;
  color: white;
}

#careers .items-career .card h5 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

#careers .items-career .card .btn-detail-career {
  background-color: #FDEE30;
  position: absolute;
  bottom: 0;
  color: black;
  font-size: 14px;
  left: 0;
  bottom: -15px;
  width: 100%;
  font-weight: 500;
  z-index: 2;
  visibility: hidden;
  display: block;
  border-radius: 0;
}

#careers .items-career .card .btn-detail-career:hover {
  background-color: #fff784;
}

#galleries {
  padding-top: 60px;
  background-color: #fafafa;
  padding-bottom: 10px;
  padding-right: 3px;
  padding-left: 3px;
}

#galleries header h2, #galleries header h3 {
  margin-bottom: 20px;
  font-size: 35px;
  text-align: center;
  font-weight: 700;
  padding-bottom: 6px;
  text-align: center;
  color: #001730;
}

#galleries header h2::after, #galleries header h3::after {
  content: '';
  display: block;
  border-bottom: 2px solid #425664;
  width: 20%;
  margin: auto;
  margin-top: 8px;
}

#galleries .nav .nav-link {
  background-color: white;
  margin: 6px;
  min-width: 200px;
  padding: 19px;
  -webkit-box-shadow: 2px 2px 4px #eeeeee;
          box-shadow: 2px 2px 4px #eeeeee;
  border-radius: 0px;
  color: #b8b8b8;
  font-weight: 400;
  text-transform: capitalize;
}

#galleries .nav .nav-link .icon-category {
  font-size: 30px !important;
}

#galleries .nav .nav-link:hover {
  background-color: #fff784;
}

#galleries .nav .nav-link.active {
  background-color: #FDEE30;
  color: #001730;
  font-weight: 500;
}

#galleries .tab-content .box-gallery {
  padding: 5px;
}

#galleries .tab-content .box-gallery .card {
  border: 0;
  border-radius: 0;
}

#galleries .tab-content .box-gallery .card .card-body {
  border: 0;
  padding: 10px;
  overflow: hidden;
}

#galleries .tab-content .box-gallery .card .card-body:hover {
  -webkit-box-shadow: 3px 4px 5px #b9b9b9;
          box-shadow: 3px 4px 5px #b9b9b9;
}

#galleries .tab-content .box-gallery .card .card-body:hover .box-control {
  visibility: visible;
  background-color: rgba(14, 8, 8, 0.7);
}

#galleries .tab-content .box-gallery .card .card-body:hover .box-control .box-text {
  left: 0;
  visibility: visible;
}

#galleries .tab-content .box-gallery .card .card-body .img-gallery {
  border-radius: 0;
  width: 100%;
}

#galleries .tab-content .box-gallery .card .card-body .box-control {
  visibility: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  overflow: hidden;
  top: 0;
  color: white;
  background-color: rgba(10, 9, 15, 0.3);
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

#galleries .tab-content .box-gallery .card .card-body .box-control .box-text {
  width: 100%;
  background-color: white;
  position: relative;
  left: -40%;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  visibility: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}

#galleries .tab-content .box-gallery .card .card-body .box-control .box-text h5 {
  color: #001730;
  margin-bottom: 0px;
  font-size: 18px;
  margin-bottom: 7px;
}

#galleries .tab-content .box-gallery .card .card-body .box-control .box-text span {
  font-size: 15px;
  color: #818181;
}

#news {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fafafa;
}

#news .news-main .entry-news .card {
  margin-bottom: 10px;
  border-radius: 0;
  border: 0;
  -webkit-box-shadow: 2px 2px 4px rgba(226, 226, 226, 0.623);
          box-shadow: 2px 2px 4px rgba(226, 226, 226, 0.623);
}

#news .news-main .entry-news .card .img-news {
  overflow: hidden;
  max-height: 400px;
}

#news .news-main .entry-news .card .img-news img {
  width: 100%;
}

#news .news-main .entry-news .card .entry-content {
  padding-right: 30px;
  padding-left: 30px;
}

#news .news-main .entry-news .card .entry-content .card-title {
  font-weight: 500;
  font-size: 25px;
  color: #001730;
}

#news .news-main .entry-news .card .entry-content .meta {
  color: gray;
  margin-bottom: 10px;
}

#news .news-main .entry-news .card .entry-content .meta span {
  margin-right: 14px;
  font-size: 14px;
}

#news .news-main .entry-news .card .entry-content .btn-general {
  float: right;
}

#news .news-main .entry-news .card .entry-content p {
  color: #5a5a5a;
}

#news .news-main .entry-news .card .entry-content h3, #news .news-main .entry-news .card .entry-content h4, #news .news-main .entry-news .card .entry-content h5, #news .news-main .entry-news .card .entry-content h6 {
  color: #425664;
  font-weight: 600;
}

#news .news-main .entry-news .card .entry-content h3 {
  font-size: 25px;
}

#news .news-main .entry-news .card .entry-content h4 {
  font-size: 20px;
}

#news .news-main .entry-news .card .entry-content h5 {
  font-size: 18px;
}

#news .news-main .entry-news .card .entry-content h6 {
  font-size: 16px;
}

#news .news-main .entry-news .card .entry-content blockquote {
  font-size: 20px;
  border-left: 6px solid #425664;
  background-color: #f6f6f6;
  padding: 10px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 15px;
}

#news .news-main .entry-news .card .entry-content img {
  width: 100%;
}

#news .news-main .entry-news .card .entry-content table {
  width: 100%;
}

#news .news-main .entry-news .card .entry-content th {
  background-color: #425664;
  color: #f0f0f0;
}

#news .news-main .entry-news .card .entry-content th, #news .news-main .entry-news .card .entry-content td {
  padding: 10px;
  text-align: left;
  height: 20px;
  border: 1px solid #ddd;
  font-size: 16px;
}

#news .news-main .entry-news .card .entry-content tr:nth-child(even) {
  background-color: white;
}

#news .news-main .entry-news .card .entry-content tr:hover {
  background-color: #e0e0e0;
}

#news .news-main .entry-news .card-footer {
  background-color: #fafafa;
}

#news .news-main .entry-news .info .nav .nav-link {
  font-size: 14px;
  padding-right: 0;
  color: #aaaaaa;
}

#news .news-main .entry-news .info .nav .nav-link .icon {
  color: gray;
}

#news .news-main .entry-news .share-post .nav {
  margin-right: 20px;
}

#news .news-main .entry-news .share-post .nav .nav-link {
  font-size: 14px;
  padding-right: 0;
  color: #aaaaaa;
}

#news .news-main .entry-news .share-post .nav .nav-link .icon {
  color: gray;
}

#news .news-main .entry-news .share-post .nav .nav-link .icon:hover {
  color: #001730;
}

#news .news-main .admin {
  border: 0;
  background-color: #fbffd9;
  -webkit-box-shadow: 2px 2px 4px rgba(226, 226, 226, 0.623);
          box-shadow: 2px 2px 4px rgba(226, 226, 226, 0.623);
}

#news .news-main .admin .card-img {
  border-radius: 0;
  overflow: hidden;
}

#news .news-main .pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

#news .news-main .pagination .limiting-data {
  margin-top: 40px;
  margin-bottom: 20px;
}

#news .news-main .pagination .limiting-data strong, #news .news-main .pagination .limiting-data a {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: #a0a0a0;
  margin-left: 5px;
  margin-right: 5px;
  padding: 9px 15px 9px 15px;
  font-weight: 400;
  background-color: #f5f5f5;
}

#news .news-main .pagination .limiting-data a {
  text-decoration: none;
}

#news .news-main .pagination .limiting-data a:hover {
  background-color: #fff784;
  color: #001730;
  font-weight: 500;
  -webkit-transition: .1s;
  transition: .1s;
}

#news .news-main .pagination .limiting-data strong {
  background-color: #FDEE30 !important;
  color: #001730;
  font-weight: 600;
}

#news .sidebar .form-search, #news .sidebar .recent-post, #news .sidebar .categories, #news .sidebar .tags {
  min-height: 100px;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 4px rgba(230, 230, 230, 0.815);
          box-shadow: 2px 2px 4px rgba(230, 230, 230, 0.815);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

#news .sidebar .form-search h3, #news .sidebar .recent-post h3, #news .sidebar .categories h3, #news .sidebar .tags h3 {
  font-size: 20px;
  color: #425664;
  margin-bottom: 15px;
}

#news .sidebar .form-search input {
  border-radius: 0;
  border: 0;
  background-color: whitesmoke;
  font-size: 13px;
  padding: 20px;
}

#news .sidebar .form-search button {
  border: 0;
  background-color: transparent;
  font-size: 15px;
}

#news .sidebar .form-search .input-group-text {
  background-color: #fff784;
  border: 0;
}

#news .sidebar .media {
  margin-bottom: 10px;
}

#news .sidebar .media h5 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0px;
}

#news .sidebar .media h5 a {
  color: #425664;
  text-decoration: none;
}

#news .sidebar .media h5 a:hover {
  color: black;
}

#news .sidebar .media span {
  color: gray;
  font-size: 13px;
}

#news .sidebar .media .img-media {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

#news .sidebar .categories .nav .nav-item .nav-link {
  padding-left: 0;
  color: gray;
  font-size: 16px;
}

#news .sidebar .categories .nav .nav-item .nav-link:hover {
  color: #001730;
}

#news .sidebar .categories span {
  margin-left: 5px;
  border-radius: 0;
}

#news .sidebar .tags .nav .nav-item .nav-link {
  color: gray;
  margin-bottom: 4px;
  background-color: #f1f1f1dc;
  margin-right: 4px;
  font-size: 13px;
}

#news .sidebar .tags .nav .nav-item .nav-link:hover {
  color: #001730;
  background-color: #fff784;
}

#breakingnews {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #eef1f1;
}

#breakingnews h2, #breakingnews h3 {
  margin-bottom: 20px;
  font-size: 35px;
  text-align: center;
  font-weight: 700;
  padding-bottom: 6px;
  text-transform: uppercase;
  color: #001730;
}

#breakingnews p {
  text-align: center;
}

#breakingnews .card {
  border-radius: 0;
  border: 0;
  min-height: 250px;
  background-repeat: no-repeat;
  margin-top: 10px;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

#breakingnews .card::after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.438);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#breakingnews .card:hover::after {
  -webkit-transition: .2s;
  transition: .2s;
  background: rgba(0, 0, 0, 0.151);
}

#breakingnews .card h5, #breakingnews .card p {
  position: relative;
  z-index: 1;
  color: white;
}

#breakingnews .card h6 {
  color: #394458;
  font-size: 60px;
}

#breakingnews .card h5 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: 25px;
}

#breakingnews .card .btn-news {
  background-color: #001730;
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 14px;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  display: block;
  border-radius: 0;
}

#breakingnews .card .btn-news:hover {
  background-color: #112564;
}

#archives {
  padding-top: 30px;
  background-color: #fafafa;
  padding-bottom: 40px;
  padding-right: 3px;
  padding-left: 3px;
}

#archives .nav {
  margin-right: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}

#archives .nav .nav-link {
  text-align: center;
  background-color: white;
  margin: 6px;
  min-width: 150px;
  padding: 5px;
  -webkit-box-shadow: 2px 2px 4px #eeeeee;
          box-shadow: 2px 2px 4px #eeeeee;
  border-radius: 0px;
  color: #b8b8b8;
  font-weight: 400;
  text-transform: capitalize;
}

#archives .nav .nav-link:hover {
  background-color: #fff784;
}

#archives .nav .nav-link.active {
  background-color: #FDEE30;
  color: #001730;
  font-weight: 500;
}

#archives .tab-content {
  min-height: 100px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 !important;
}

#archives .tab-content .card {
  border-radius: 0;
  border: 0;
  min-height: 240px;
  background-repeat: no-repeat;
  margin-top: 10px;
  background-position: center 23%;
  background-size: cover;
  background-color: rgba(66, 66, 66, 0.048);
  overflow: hidden;
}

#archives .tab-content .card:hover .card-body {
  visibility: visible;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
  top: 0%;
}

#archives .tab-content .card:hover .card-footer {
  border: 1px solid rgba(228, 228, 228, 0.671);
}

#archives .tab-content .card .card-body {
  background-color: #001730;
  position: absolute;
  font-size: 14px;
  left: 0;
  height: 10px;
  top: -10%;
  width: 100%;
  z-index: 2;
  padding-bottom: 36px;
  padding-top: 12px;
  visibility: hidden;
  border-radius: 0;
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

#archives .tab-content .card .card-body .btn-download {
  color: white;
  margin: 12px;
  font-size: 14px;
}

#archives .tab-content .card .card-body .btn-download:hover {
  color: #FDEE30;
}

#archives .tab-content .card .card-footer {
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  text-transform: capitalize;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  display: block;
  border-radius: 0;
  border: 1px solid rgba(238, 238, 238, 0.788);
}

#archives .tab-content .card .card-footer h6 {
  color: #001730;
  font-size: 14px;
  margin-bottom: 2px;
}

#archives .tab-content .card .card-footer small {
  font-size: 12px;
  color: #a7a7a7;
  font-weight: 300;
}

#contact {
  background-color: #fafafa;
  padding-bottom: 60px;
}

#contact iframe {
  width: 100% !important;
  overflow: hidden;
  max-height: 340px !important;
  margin-bottom: 20px;
}

#contact .card {
  border-radius: 0;
  border: 0;
  min-height: 145px !important;
}

#contact .card:hover {
  -webkit-box-shadow: 2px 2px 5px #f1f1f1;
          box-shadow: 2px 2px 5px #f1f1f1;
}

#contact .card span {
  color: #999999;
  font-size: 15px;
}

#contact .card h5 {
  font-weight: 500;
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 5px;
}

#contact .icon-contact {
  margin-right: 20px;
  margin-top: 10px;
}

#contact .icon-contact span {
  padding: 15px;
  padding-left: 19px;
  padding-right: 19px;
  background-color: #fff784;
  color: #001730;
  font-size: 20px;
}

#contact .icon-contact span:hover {
  background-color: #FDEE30;
}

#contact input {
  padding: 18px;
}

#contact select, #contact input, #contact textarea {
  border-radius: 0;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  color: #001730;
}

footer {
  padding-top: 50px;
  min-height: 200px;
  background-color: #425664;
  color: white;
}

footer li {
  color: #d1d1d1;
  text-decoration: none;
  font-size: 15px;
}

footer .maps {
  max-height: 100;
  text-align: right;
}

footer .maps iframe {
  width: 90% !important;
  height: 250px !important;
}

footer .site-name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

footer .navigation {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 20px;
}

footer .nav-identity li {
  padding-right: 90px;
}

footer .nav-footer li {
  padding-bottom: 10px;
}

footer .nav-footer li::before {
  content: '\f0da      ';
  font-family: 'FontAwesome';
  color: white;
  font-weight: 200;
}

footer .nav-footer li .link {
  color: #d1d1d1;
  text-decoration: none;
}

footer .nav-footer li .link:hover {
  color: #fff784;
  -webkit-transition: .5s;
  transition: .5s;
  font-weight: 400;
}

#copyright {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
  background-color: #001730;
  font-size: 14px;
}

#copyright span {
  color: #d1d1d1;
}

#copyright span a {
  color: #FDEE30;
  text-decoration: none;
}

#copyright .nav-link {
  background-color: #FDEE30;
  margin: 3px;
  color: #425664;
}

#copyright .nav-link:hover {
  background-color: #fff784;
  color: #001730;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    -webkit-transition-delay: 0 !important;
            transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Extra small devices (portrait phones, less than 576px)
--------------------------------------------------------------*/
@media (max-width: 575.98px) {
  .btn-general {
    background-color: #FDEE30;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
  }
  #notfound img {
    max-width: 100%;
    -webkit-box-shadow: 0px 0px 0px white;
            box-shadow: 0px 0px 0px white;
  }
  #notfound .btn-general {
    margin-top: 6%;
    font-weight: bold;
    font-size: 13px;
  }
  .navbar .navbar-brand {
    padding: 0;
  }
  .navbar .navbar-brand img {
    max-width: 50px;
  }
  .navbar .navbar-nav .nav-item {
    margin-left: 14px;
    font-size: 14px;
  }
  .navbar .navbar-nav .nav-item.active {
    font-weight: bold;
  }
  .navbar .navbar-nav .nav-item a {
    color: #425664;
  }
  .navbar .navbar-nav .nav-item a:hover {
    color: #222222;
  }
  .navbar .dropdown .dropdown-menu {
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 0;
    border-left: 4px solid #425664;
  }
  .navbar .dropdown .dropdown-menu a {
    font-size: 14px;
    padding-left: 10px;
  }
  .navbar .dropdown .dropdown-menu a:focus {
    background-color: #425664;
    color: #ffffff;
  }
  #breadcrumbs {
    background-color: #f0f0f0;
  }
  #breadcrumbs h2 {
    text-align: center;
    font-size: 19px;
    margin-top: 25px;
    font-weight: 700;
  }
  #breadcrumbs .breadcrumb {
    margin-top: -8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #breadcrumbs li {
    font-size: 14px;
  }
  #hero .carousel .carousel-caption {
    top: 10%;
  }
  #hero .carousel .carousel-caption .carousel-content {
    background: rgba(28, 23, 21, 0.5);
    padding: 20px;
    color: #ffffff;
    border-left: 5px solid #FDEE30;
    border-right: 5px solid #FDEE30;
    margin-bottom: 60px;
  }
  #hero .carousel .carousel-caption .carousel-content h1 {
    color: #ffffff;
    margin-bottom: 17px;
    font-size: 22px;
    font-weight: 700;
  }
  #hero .carousel .carousel-caption .carousel-content p {
    font-size: 15px;
    padding-left: 0;
    padding-right: 0;
  }
  #hero .carousel .carousel-caption .carousel-content .btn-started {
    background-color: #FDEE30;
    border-radius: 0;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
  }
  #hero .carousel .carousel-caption .carousel-content .btn-started:hover {
    background-color: #fff784;
  }
  #introduction {
    min-height: 300px;
    padding-bottom: 30px;
    background-color: #fafafa;
  }
  #introduction .intro-img {
    text-align: center;
  }
  #introduction .intro-img img {
    max-width: 80%;
    margin-top: 30px;
  }
  #introduction .intro-img media {
    margin-top: 0px;
  }
  #introduction .intro-img media .video {
    width: 95% !important;
    border-radius: 0px;
    -webkit-box-shadow: 4px 4px 5px #cccccc;
            box-shadow: 4px 4px 5px #cccccc;
  }
  #introduction .intro-txt {
    text-align: justify;
  }
  #introduction .intro-txt h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 23px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 6px;
    color: #001730;
  }
  #introduction .intro-txt h2::after {
    content: '';
    display: block;
    border-bottom: 6px solid #425664;
    width: 15%;
    margin: auto;
    margin-top: 8px;
  }
  #introduction .intro-txt .btn-general {
    margin-top: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about {
    min-height: 700px;
  }
  #about main {
    min-height: 390px;
    max-height: 200px;
  }
  #about h2 {
    font-size: 23px;
  }
  #about .history {
    margin-top: -70px;
  }
  #about .history .intro-txt .icon-contact span {
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 17px;
  }
  #about .team {
    min-height: 100px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
  }
  #about .team .card {
    border-radius: 0;
    border: 0;
    min-height: 390px;
    background-repeat: no-repeat;
    margin-top: 10px;
    background-position: center center !important;
    background-size: cover;
    overflow: hidden;
    -webkit-box-shadow: 2px 4px 5px #eeeeee;
            box-shadow: 2px 4px 5px #eeeeee;
  }
  #about .team .card:hover .card-body {
    visibility: visible;
    -webkit-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
    bottom: 20%;
  }
  #about .team .card .card-body {
    background-color: #001730;
    position: absolute;
    font-size: 14px;
    left: 0;
    height: 10px;
    bottom: 9%;
    width: 100%;
    z-index: 2;
    padding-bottom: 36px;
    padding-top: 12px;
    visibility: hidden;
    border-radius: 0;
  }
  #about .team .card .card-body .btn-socmed {
    color: white;
    margin: 12px;
    font-size: 17px;
  }
  #about .team .card .card-body .btn-socmed:hover {
    color: #FDEE30;
  }
  #about .team .card .card-footer span p {
    padding: 0 !important;
    margin: 0 !important;
  }
  #clients {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #425664;
  }
  #clients h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 0px;
    font-size: 23px;
    font-weight: 700;
    padding-bottom: 6px;
  }
  #clients p {
    text-align: center;
  }
  #services {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #services h2, #services h3 {
    font-size: 23px;
  }
  #services h2::after, #services h3::after {
    width: 15%;
  }
  #services .card h5 {
    margin-top: 15%;
    font-size: 22px;
  }
  #detail-services {
    min-height: 500px;
    padding-top: 20px;
    padding-bottom: 90px;
    background-color: #fafafa;
  }
  #detail-services .detail-img img {
    width: 98%;
  }
  #detail-services .services-txt .title-detail {
    font-size: 23px;
    text-align: center;
  }
  #detail-services .services-txt h2, #detail-services .services-txt h3, #detail-services .services-txt h4, #detail-services .services-txt h5, #detail-services .services-txt h6 {
    font-size: 17px;
  }
  #detail-services .services-txt h2 {
    margin-top: 30px;
    font-weight: 700;
    padding-bottom: 6px;
    color: #001730;
  }
  #detail-services .button {
    text-align: center;
  }
  #detail-services th, #detail-services td {
    padding: 10px;
    height: 15px;
  }
  #projects {
    background-color: #fafafa;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #projects h2, #projects h3 {
    margin-bottom: 20px;
    font-size: 23px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 6px;
    color: #001730;
  }
  #projects h2::after, #projects h3::after {
    content: '';
    display: block;
    border-bottom: 6px solid #425664;
    width: 15%;
    margin: auto;
    margin-top: 8px;
  }
  #projects .nav {
    margin-bottom: 40px;
  }
  #projects .nav li {
    padding-left: 2px;
    padding-right: 2px;
  }
  #projects .nav .btn {
    font-weight: 400;
    font-size: 13px;
  }
  #projects .nav .btn.active {
    border-radius: 0;
    font-weight: 700;
    background-color: #FDEE30;
  }
  #projects .nav .btn:hover {
    background-color: #fff784;
    font-weight: 500;
  }
  #projects .box-projects .card {
    border: 0;
    border-radius: 0;
    margin-bottom: 43px;
  }
  #projects .box-projects .card .card-body {
    border: 0;
    padding: 10px;
  }
  #projects .box-projects .card .card-body:hover .box-control {
    visibility: visible;
    cursor: pointer;
  }
  #projects .box-projects .card .card-body .img-projects {
    border-radius: 0;
    overflow: hidden;
  }
  #projects .box-projects .card .card-body .box-control {
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: -27%;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 2;
    position: relative;
    margin-left: 12px;
    margin-right: 12px;
  }
  #projects .box-projects .card .card-body .box-control h5 {
    color: #001730;
    margin-bottom: 0px;
    font-size: 17px;
  }
  #projects .box-projects .card .card-body .box-control span {
    font-size: 14px;
    color: gray;
  }
  #projects .box-projects .card .card-body .box-control .btn-control-project {
    margin-left: 14px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
  }
  #projects .box-projects .card .card-body .box-control .btn-control-project .alt {
    color: #425664;
  }
  #projects .box-projects .card .card-body .box-control .btn-control-project:hover {
    background-color: #425664;
  }
  #projects .box-projects .card .card-body .box-control .btn-control-project:hover .alt {
    color: white;
  }
  #projects .limiting-data {
    margin-top: 20px;
    margin-bottom: -30px;
  }
  #projects .limiting-data .page-item .page-link {
    margin-bottom: 15px;
  }
  #projects .limiting-data .page-item .page-link.prev {
    margin-right: 10px;
  }
  #projects .limiting-data .page-item .page-link.next {
    margin-left: 10px;
  }
  #detail-project {
    min-height: 500px;
    padding-top: 10px;
    background-color: #fafafa;
  }
  #detail-project .detail-img img {
    width: 100%;
  }
  #detail-project .intro-txt .title-detail {
    font-size: 23px;
    text-align: center;
  }
  #detail-project .intro-txt h2 {
    margin-top: 10px;
    padding-bottom: 6px;
  }
  #detail-project .intro-txt .button {
    text-align: center;
  }
  #detail-project th, #detail-project td {
    padding: 10px;
    height: 15px;
  }
  #galleries {
    background-color: #fafafa;
    padding-bottom: 6px;
    padding-right: 3px;
    padding-left: 3px;
  }
  #galleries header h2, #galleries header h3 {
    font-size: 23px;
  }
  #galleries .nav .nav-link {
    margin: 4px;
    margin-top: 0px;
    min-width: 126px;
    font-size: 12px;
  }
  #galleries .nav .nav-link .icon-category {
    font-size: 20px !important;
    margin-bottom: 6px;
  }
  #galleries .tab-content .box-gallery {
    padding: 15px;
    padding-bottom: 5px;
  }
  #news {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fafafa;
  }
  #news .news-main .entry-news .card .entry-content .card-title {
    font-weight: 500;
    font-size: 20px;
    color: #001730;
  }
  #news .news-main .entry-news .card .entry-content .meta {
    margin-bottom: 14px;
  }
  #news .news-main .entry-news .card .entry-content .meta .meta-item {
    margin-right: 3px;
    font-size: 12px;
  }
  #news .news-main .pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #news .news-main .pagination .limiting-data .page-link {
    font-size: 13px;
  }
  footer {
    padding-top: 50px;
    margin-bottom: 39px;
    min-height: 200px;
  }
  footer .maps {
    max-height: 100;
    text-align: center;
  }
  footer .maps iframe {
    width: 100% !important;
    height: 250px !important;
  }
  footer .site-name {
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
  }
  footer .nav-identity li {
    padding-right: 0px;
  }
  footer .nav-footer li {
    padding-bottom: 10px;
    font-size: 14px;
  }
  #copyright {
    text-align: center;
    font-size: 14px;
  }
  #copyright .nav {
    margin-top: 10px;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .chat-with-us {
    min-height: 20px;
    padding-top: 10px;
    font-weight: 500;
    border-radius: 0;
    color: white;
    padding-bottom: 10px;
    background-color: #2fbd2f;
  }
  .chat-with-us .icon {
    font-size: 27px;
  }
  .chat-with-us:hover {
    background-color: greenyellow;
  }
  .back-to-top {
    bottom: 10%;
  }
}

/*--------------------------------------------------------------
# Medium devices (tablets, 768px and up)
--------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .back-to-top {
    bottom: 3%;
    right: 50%;
  }
  #hero .carousel .carousel-caption {
    top: 30%;
  }
  #hero .carousel .carousel-caption .carousel-content {
    background: rgba(28, 23, 21, 0.5);
    padding: 20px;
    color: #ffffff;
    border-left: 5px solid #FDEE30;
    border-right: 5px solid #FDEE30;
    margin-bottom: 60px;
  }
  #hero .carousel .carousel-caption .carousel-content h1 {
    color: #ffffff;
    margin-bottom: 17px;
    font-size: 22px;
    font-weight: 700;
  }
  #hero .carousel .carousel-caption .carousel-content p {
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
  }
  #hero .carousel .carousel-caption .carousel-content .btn-started {
    background-color: #FDEE30;
    border-radius: 0;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
  }
  #hero .carousel .carousel-caption .carousel-content .btn-started:hover {
    background-color: #fff784;
  }
  #notfound img {
    max-width: 100%;
    -webkit-box-shadow: 0px 0px 0px white;
            box-shadow: 0px 0px 0px white;
  }
  #notfound .btn-general {
    margin-top: -23%;
    font-weight: bold;
    font-size: 18px;
  }
  #breadcrumbs {
    background-color: #f0f0f0;
  }
  #breadcrumbs h2 {
    text-align: left;
    font-size: 21px;
    margin-top: 0px;
    font-weight: 700;
  }
  #breadcrumbs .breadcrumb {
    margin-top: 10px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #clients {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #425664;
  }
  #clients h2 {
    text-align: left;
    color: #ffffff;
    margin-bottom: 0px;
    font-size: 23px;
    font-weight: 700;
    padding-bottom: 6px;
  }
  #clients p {
    text-align: left;
  }
  #news {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fafafa;
  }
  #news .news-main .entry-news .card .entry-content .card-title {
    font-weight: 500;
    font-size: 21px;
    color: #001730;
  }
  #news .news-main .pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #news .news-main .pagination .limiting-data .page-link {
    font-size: 13px;
  }
  #news .sidebar .form-search h3, #news .sidebar .recent-post h3, #news .sidebar .categories h3, #news .sidebar .tags h3 {
    font-size: 16px;
    color: #425664;
    margin-bottom: 15px;
  }
  #news .sidebar .media {
    margin-bottom: 10px;
  }
  #news .sidebar .media h5 {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0px;
  }
  #news .sidebar .media h5 a {
    color: #425664;
    text-decoration: none;
  }
  #news .sidebar .media h5 a:hover {
    color: black;
  }
  #news .sidebar .media span {
    color: gray;
    font-size: 10px;
  }
  #news .sidebar .media .img-media {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  #news .sidebar .categories .nav .nav-item .nav-link {
    padding-left: 0;
    color: gray;
    font-size: 15px;
  }
  #news .sidebar .categories .nav .nav-item .nav-link:hover {
    color: #001730;
  }
  #news .sidebar .categories span {
    margin-left: 5px;
    font-size: 10px;
    border-radius: 0;
  }
  #news .sidebar .tags .nav .nav-item .nav-link {
    font-size: 11px;
  }
  #projects .limiting-data {
    margin-top: 20px;
    margin-bottom: -30px;
  }
  #projects .limiting-data .page-item .page-link {
    margin-bottom: 15px;
  }
  #projects .limiting-data .page-item .page-link.prev {
    margin-right: 6px;
  }
  #projects .limiting-data .page-item .page-link.next {
    margin-left: 6px;
  }
  footer {
    padding-top: 50px;
  }
  footer .maps {
    max-height: 100;
    text-align: center;
  }
  footer .maps iframe {
    width: 100% !important;
    height: 250px !important;
  }
  footer .site-name {
    font-size: 20px;
    text-align: left;
    font-weight: 600;
    margin-bottom: 20px;
  }
  footer .navigation {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  footer .nav-footer li {
    padding-bottom: 9px;
    font-size: 14px;
  }
  .chat-with-us-desktop {
    bottom: 30%;
  }
}

/*--------------------------------------------------------------
# Extra large devices (large desktops, 1920px and up)
--------------------------------------------------------------*/
@media (min-width: 1920px) {
  #projects .box-projects .card {
    margin-bottom: 109px;
  }
  .chat-with-us-desktop {
    right: -1%;
  }
}
/*# sourceMappingURL=main.css.map */